@using Pathwaze.Client.Pages
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div>
            <NavMenu />
        </div>

        <article class="content main-body">
            @Body
        </article>
    </main>
</div>

@code {
    private bool sidebarExpanded = true;
}
