@using Pathwaze.Client.Pages
@inherits LayoutComponentBase

<div class="page">
    <main>
        <AuthorizeView Roles="Manager">
            <Authorized>
                <AdminPortal />
            </Authorized>
            <NotAuthorized>
                <div>
                    <NavMenu />
                </div>

                <article class="content main-body">
                    @Body
                </article>
            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>
