@page "/portal"
@inherits LayoutComponentBase

@inject NavigationManager _nav

<div class="page">
    <main>
        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    <RadzenLabel Text="Header" />
                </RadzenStack>
            </RadzenHeader>
            <RadzenSidebar Responsive="false" Style="width: max-content">
                <PanelMenu sidebarExpanded="@sidebarExpanded" />
            </RadzenSidebar>
            <RadzenBody>
                <article class="content main-body">
                    @Body
                </article>
            </RadzenBody>
            <RadzenFooter>
                Footer
            </RadzenFooter>
        </RadzenLayout>
    </main>
</div>

<RadzenComponents/>

@code {
    private bool sidebarExpanded = true;

    protected override Task OnInitializedAsync()
    {
        _nav.NavigateTo("/portal/dashboard");
        return base.OnInitializedAsync();
    }
}

