@page "/discover"

@using Pathwaze.Shared.Models.Dtos;

<div class="">
    <RadzenRow AlignItems="AlignItems.Start" Gap="1rem" Class="rz-p-sm-12">
        <RadzenColumn>
            <RadzenDropDown @bind-Value=@searchDto.goceryStoreFilter Data=@groceryStores Style="width: 100%; max-width: 400px;" />
        </RadzenColumn>
        <RadzenColumn>
            <RadzenDropDown @bind-Value=@searchDto.supplierFilter Data=@suppliers Style="width: 100%; max-width: 400px;" />
        </RadzenColumn>
        <RadzenColumn>
            <RadzenTextBox Placeholder="Search..." Change=@(args => OnChange(args, "TextBox with placeholder")) class="w-100" />
            @*<RadzenFormField Text="Filled" Variant="Variant.Filled" Style="width: 100%;">
            <RadzenTextBox @bind-Value="@search" Style="width: 100%;" />
        </RadzenFormField>*@
        </RadzenColumn>
    </RadzenRow>
</div>

@code {
    private List<string> suppliers { get; set; } = new List<string>();
    private List<string>? groceryStores { get; set; } = new List<string>();
    private string search { get; set; } = string.Empty;

    private SearchDto searchDto { get; set; } = new SearchDto();

    void OnChange(string value, string name)
    {
        Console.WriteLine($"{name} value changed to {value}");
    }
}
