@page "/"
@page "/home"

<style>
    .header-section{
        background-color: #F4F5F6;
        height: 35rem;
        padding-left: 10rem !important;
        padding-right: 10rem !important;
        padding-top: 5rem;
    }
    .header-section h1{
        font-size: 100px;
        font-weight: bold;
    }

    .slideshow-section{
        background-color: #FCFCFD;
        height: 35rem;
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

    .suggestion-section{
        height: 35rem;
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

    .feature-section{
        background-color: #FCFCFD;
        height: 35rem;
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

    .reason-section{
        height: 35rem;
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
</style>


<div class="header-section d-flex align-items-center">
    <div class="col-6 d-flex flex-column">
        <h1>Pathwaze</h1>
        <span style="margin-top:2rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, est felis, sagittis viverra nulla mattis scelerisque. Eget cras integer.</span>
        <div style="margin-top:2rem;">
            <RadzenButton>Discover</RadzenButton>
        </div>
        
    </div>
    <div class="col-6 d-flex justify-content-center">
        <RadzenImage Path="images/placeholder.png" Style="width: 15rem;" />
    </div>
</div>
<div class="slideshow-section">

</div>
<div class="suggestion-section">

</div>
<div class="feature-section">

</div>
<div class="reason-section">

</div>

@code {

}
