@page "/login"

<PageTitle>Login</PageTitle>

<div class="d-flex">
    
    @* Welcome Message *@
    <div class="col-6">

    </div>

    @* Login Form *@
    <div class="col-6">

    </div>

</div>

@code {

}
