@page "/register"

<PageTitle>Register</PageTitle>

<div class="d-flex">

    @* Welcome Message *@
    <div class="col-6">
    </div>

    @* Register Form *@
    <div class="col-6">
    </div>

</div>

@code {

}
