/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-jsc4808i2d] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jsc4808i2d] {
    flex: 1;
}

.top-row[b-jsc4808i2d] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.main-body[b-jsc4808i2d] {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.toolbar-link[b-cq6tk9h0x1] {
    color: #777E90;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a[b-cq6tk9h0x1] {
    color: #777E90;
    text-decoration: none !important;
}


.test-border[b-cq6tk9h0x1]{
    border: 5px solid red;
}
